body{
	background-image: url('../img/bg.png');
}

.navbar-right .form-group input{
	padding: 10px 15px;
}

.main-container{
	margin-top: 100px;
}

.main-container span{
	color: white;
	font-size: 25px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-radius: 3px;
    background-color: white;
}

/*.bs-callout-Clip {
    border-left-color: #1b809e;
}

.bs-callout-ShowRequest {
    border-left-color: #5cb85c;
}

.bs-callout-Post {
    border-left-color: #5bc0de;
}*/

.main-content-clip {
    border-left-color: #1b809e;
}

.main-content-calendar {
    border-left-color: #5cb85c;
}

.main-content-post {
    border-left-color: #5bc0de;
}